###############################################################################
# Copyright (c) 2022-25, Lawrence Livermore National Security, LLC and RADIUSS
# project contributors. See the COPYRIGHT file for details.
#
# SPDX-License-Identifier: (MIT)
###############################################################################

# DESCRIPTION:
###############################################################################
# General GitLab pipelines configurations for supercomputers and Linux clusters
# at Lawrence Livermore National Laboratory (LLNL).
# This entire pipeline is LLNL-specific
#
# Important note: This file is a template provided by llnl/radiuss-shared-ci.
# Remains to set variable values, change the reference to the radiuss-shared-ci
# repo, opt-in and out optional features. The project can then extend it with
# additional stages.
#
# In addition, each project should copy over and complete:
# - .gitlab/custom-jobs-and-variables.yml
# - .gitlab/subscribed-pipelines.yml
#
# The jobs should be specified in a file local to the project,
# - .gitlab/jobs/${CI_MACHINE}.yml
# or generated (see LLNL/Umpire for an example).
###############################################################################

# We define the following GitLab pipeline variables:
variables:
##### LC GITLAB CONFIGURATION
# Use an LLNL service user to run CI. This prevents from running pipelines as
# an actual user.
  LLNL_SERVICE_USER: ""
# Use the service user workspace. Solves permission issues, stores everything
# at the same location whoever triggers a pipeline.
#  CUSTOM_CI_BUILDS_DIR: ""
# Submodules: We don't need to fetch dependencies handled by Spack.
  GIT_SUBMODULE_STRATEGY: normal
  GIT_SUBMODULE_DEPTH: 1
  GIT_SUBMODULE_UPDATE_FLAGS: --jobs 2
  GIT_SUBMODULE_PATHS: scripts/radiuss-spack-configs scripts/uberenv

##### PROJECT VARIABLES

##### SHARED_CI CONFIGURATION
# Required information about GitHub repository
  GITHUB_PROJECT_NAME: "Caliper"
  GITHUB_PROJECT_ORG: "LLNL"
# Set the build-and-test command.
# Nested variables are allowed and useful to customize the job command. We
# prevent variable expansion so that you can define them at job level.
  JOB_CMD:
    value: "./scripts/gitlab/build-and-test.sh"
    expand: false
# Override the pattern describing branches that will skip the "draft PR filter
# test".  Add protected branches here. See default value in
# utility-draft-pr-filter component.
  ALWAYS_RUN_PATTERN: "^develop$|^master$|^v[0-9.]*$|^releases/$"

# We organize the build-and-test stage with sub-pipelines. Each sub-pipeline
# corresponds to a test batch on a given machine.

# High level stages
# IMPORTANT: You must define stages yourself to allow customization.
# The following stages are REQUIRED by RADIUSS Shared CI components:
stages:
  - prerequisites           # Required: machine availability checks
  - build-and-test          # Required: build and test jobs

###############################################################################
# INCLUDES
###############################################################################

include:
  # Sets ID tokens for every job using `default:`
  - project: 'lc-templates/id_tokens'
    file: 'id_tokens.yml'

  # Base pipeline templates and utilities
  - component: $CI_SERVER_FQDN/radiuss/radiuss-shared-ci/base-pipeline@woptim/migrate-to-components
    inputs:
      github_project_name: $GITHUB_PROJECT_NAME
      github_project_org: $GITHUB_PROJECT_ORG
      github_token: $GITHUB_TOKEN

  # Draft PR filter
  - component: $CI_SERVER_FQDN/radiuss/radiuss-shared-ci/utility-draft-pr-filter@woptim/migrate-to-components
    inputs:
      github_token: $GITHUB_TOKEN
      github_project_name: $GITHUB_PROJECT_NAME
      github_project_org: $GITHUB_PROJECT_ORG
      always_run_pattern: $ALWAYS_RUN_PATTERN

  # Local custom variables (used for component inputs and forwarded to child pipelines)
  - local: '.gitlab/custom-variables.yml'

###############################################################################
# MACHINE PIPELINES
###############################################################################
# Note: .machine-check template is provided by the base-pipeline component
# and includes better error handling, validation, and GitHub status reporting.
# Trigger a build-and-test pipeline for each machine.
# Comment out the machine blocks you don't need.

# One job to generate the job list for all the subpipelines
generate-job-lists:
  stage: prerequisites
  tags: [shell, oslic]
  variables:
    RADIUSS_JOBS_PATH: "scripts/radiuss-spack-configs/gitlab/radiuss-jobs"
    LOCAL_JOBS_PATH: ".gitlab/jobs"
  script:
    - cat ${RADIUSS_JOBS_PATH}/dane.yml ${LOCAL_JOBS_PATH}/dane.yml > dane-jobs.yml
    - cat ${RADIUSS_JOBS_PATH}/matrix.yml ${LOCAL_JOBS_PATH}/matrix.yml > matrix-jobs.yml
    - cat ${RADIUSS_JOBS_PATH}/corona.yml ${LOCAL_JOBS_PATH}/corona.yml > corona-jobs.yml
    - cat ${RADIUSS_JOBS_PATH}/tioga.yml ${LOCAL_JOBS_PATH}/tioga.yml > tioga-jobs.yml
    - cat ${RADIUSS_JOBS_PATH}/tuolumne.yml ${LOCAL_JOBS_PATH}/tuolumne.yml > tuolumne-jobs.yml
    - cat ${RADIUSS_JOBS_PATH}/lassen.yml ${LOCAL_JOBS_PATH}/lassen.yml > lassen-jobs.yml
  artifacts:
    paths:
      - dane-jobs.yml
      - matrix-jobs.yml
      - corona-jobs.yml
      - tioga-jobs.yml
      - tuolumne-jobs.yml
      - lassen-jobs.yml

# DANE
dane-up-check:
  extends: [.dane, .machine-check]

dane-build-and-test:
  stage: build-and-test
  extends: [.dane]
  needs: [dane-up-check, generate-job-lists]
  trigger:
    include:
      - local: '.gitlab/custom-jobs.yml'
      - component: $CI_SERVER_FQDN/radiuss/radiuss-shared-ci/dane-pipeline@woptim/migrate-to-components
        inputs:
          job_cmd: $JOB_CMD
          shared_alloc: $DANE_SHARED_ALLOC
          job_alloc: $DANE_JOB_ALLOC
          github_project_name: $GITHUB_PROJECT_NAME
          github_project_org: $GITHUB_PROJECT_ORG
      - artifact: 'dane-jobs.yml'
        job: 'generate-job-lists'
    strategy: depend
    forward:
      pipeline_variables: true

# MATRIX
matrix-up-check:
  extends: [.matrix, .machine-check]

matrix-build-and-test:
  stage: build-and-test
  extends: [.matrix]
  needs: [matrix-up-check, generate-job-lists]
  trigger:
    include:
      - local: '.gitlab/custom-jobs.yml'
      - component: $CI_SERVER_FQDN/radiuss/radiuss-shared-ci/matrix-pipeline@woptim/migrate-to-components
        inputs:
          job_cmd: $JOB_CMD
          shared_alloc: $MATRIX_SHARED_ALLOC
          job_alloc: $MATRIX_JOB_ALLOC
          github_project_name: $GITHUB_PROJECT_NAME
          github_project_org: $GITHUB_PROJECT_ORG
      - artifact: 'matrix-jobs.yml'
        job: 'generate-job-lists'
    strategy: depend
    forward:
      pipeline_variables: true

# CORONA
corona-up-check:
  extends: [.corona, .machine-check]

corona-build-and-test:
  stage: build-and-test
  extends: [.corona]
  needs: [corona-up-check, generate-job-lists]
  trigger:
    include:
      - local: '.gitlab/custom-jobs.yml'
      - component: $CI_SERVER_FQDN/radiuss/radiuss-shared-ci/corona-pipeline@woptim/migrate-to-components
        inputs:
          job_cmd: $JOB_CMD
          shared_alloc: $CORONA_SHARED_ALLOC
          job_alloc: $CORONA_JOB_ALLOC
          github_project_name: $GITHUB_PROJECT_NAME
          github_project_org: $GITHUB_PROJECT_ORG
      - artifact: 'corona-jobs.yml'
        job: 'generate-job-lists'
    strategy: depend
    forward:
      pipeline_variables: true

# TIOGA
tioga-up-check:
  extends: [.tioga, .machine-check]

tioga-build-and-test:
  stage: build-and-test
  extends: [.tioga]
  needs: [tioga-up-check, generate-job-lists]
  trigger:
    include:
      - local: '.gitlab/custom-jobs.yml'
      - component: $CI_SERVER_FQDN/radiuss/radiuss-shared-ci/tioga-pipeline@woptim/migrate-to-components
        inputs:
          job_cmd: $JOB_CMD
          shared_alloc: $TIOGA_SHARED_ALLOC
          job_alloc: $TIOGA_JOB_ALLOC
          github_project_name: $GITHUB_PROJECT_NAME
          github_project_org: $GITHUB_PROJECT_ORG
      - artifact: 'tioga-jobs.yml'
        job: 'generate-job-lists'
    strategy: depend
    forward:
      pipeline_variables: true

# TUOLUMNE
tuolumne-up-check:
  extends: [.tuolumne, .machine-check]

tuolumne-build-and-test:
  stage: build-and-test
  extends: [.tuolumne]
  needs: [tuolumne-up-check, generate-job-lists]
  trigger:
    include:
      - local: '.gitlab/custom-jobs.yml'
      - component: $CI_SERVER_FQDN/radiuss/radiuss-shared-ci/tuolumne-pipeline@woptim/migrate-to-components
        inputs:
          job_cmd: $JOB_CMD
          shared_alloc: $TUOLUMNE_SHARED_ALLOC
          job_alloc: $TUOLUMNE_JOB_ALLOC
          github_project_name: $GITHUB_PROJECT_NAME
          github_project_org: $GITHUB_PROJECT_ORG
      - artifact: 'tuolumne-jobs.yml'
        job: 'generate-job-lists'
    strategy: depend
    forward:
      pipeline_variables: true

# LASSEN
lassen-up-check:
  extends: [.lassen, .machine-check]

lassen-build-and-test:
  stage: build-and-test
  extends: [.lassen]
  needs: [lassen-up-check, generate-job-lists]
  trigger:
    include:
      - local: '.gitlab/custom-jobs.yml'
      - component: $CI_SERVER_FQDN/radiuss/radiuss-shared-ci/lassen-pipeline@woptim/migrate-to-components
        inputs:
          job_cmd: $JOB_CMD
          job_alloc: $LASSEN_JOB_ALLOC
          github_project_name: $GITHUB_PROJECT_NAME
          github_project_org: $GITHUB_PROJECT_ORG
      - artifact: 'lassen-jobs.yml'
        job: 'generate-job-lists'
    strategy: depend
    forward:
      pipeline_variables: true
