[submodule "scripts/uberenv"]
	path = scripts/uberenv
	url = https://github.com/LLNL/uberenv.git
[submodule "scripts/radiuss-spack-configs"]
	path = scripts/radiuss-spack-configs
	url = https://github.com/LLNL/radiuss-spack-configs.git
