build-quartz-intel:
  stage: build
  tags:
    - quartz
    - shell
  script:
    - echo "==== Build quartz/intel ===="
    - mkdir build-quartz-intel && cd build-quartz-intel
    - cmake -C ../cmake/hostconfig/gitlab-quartz-intel.cmake ..
    - make
    - make test

build-quartz-pgi:
  stage: build
  tags:
    - quartz
    - shell
  script:
    - echo "==== Build quartz/pgi ===="
    - mkdir build-quartz-pgi && cd build-quartz-pgi
    - cmake -C ../cmake/hostconfig/gitlab-quartz-pgi.cmake ..
    - make
    - make test

build-butte-xlc:
  stage: build
  tags:
    - butte
    - shell
  script:
    - echo "==== Build butte/xlc ===="
    - module load cmake
    - mkdir build-butte-xlc && cd build-butte-xlc
    - cmake -C ../cmake/hostconfig/gitlab-butte-xlc.cmake ..
    - make
    - make test
