language: cpp
sudo: false
dist: trusty

matrix:
  include:
    - compiler: gcc
    - addons:
        apt:
          packages:
            - libunwind-dev
      env: MATRIX_EVAL="CC=gcc && CXX=g++ && CFLAGS=-coverage && CXXFLAGS=-coverage" COVERAGE=t

    - compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-6
      env: MATRIX_EVAL="CC=gcc-6 && CXX=g++-6"

    - compiler: clang
      addons:
        apt:
          sources:
            - llvm-toolchain-trusty-4.0
          packages:
            - clang-4.0
      env: MATRIX_EVAL="CC=clang-4.0 && CXX=clang++-4.0"

before_install:
  - eval "${MATRIX_EVAL}"

script:
  - mkdir build-${CC}
  - cd build-${CC}
  - cmake -DCMAKE_C_COMPILER=`which $CC` -DCMAKE_CXX_COMPILER=`which $CXX` -DCMAKE_C_FLAGS="${CFLAGS}" -DCMAKE_CXX_FLAGS="${CXXFLAGS}" -DBUILD_TESTING=On ..
  - make -j4
  - make test

after_success:
  - if [[ -n "${COVERAGE}" ]] ; then bash <(curl -s https://codecov.io/bash) ; fi
